// Start: {{ dashCase name }}

mixin {{ dashCase name }}(title, mods)
  block csslibs
    link(rel="stylesheet" type="text/css" href="libs/")

  block scriptlibs
    script(src="libs/owlCarousel/owl.carousel.min.js")
  //- Type:
  //-   title {string} - заголовок
  //-   mods {string}  - стилевые модификаторы
  //- Use:
        +{{ dashCase name }}()
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, eum?

  .{{dashCase name}}.{{dashCase name}}-wrap
  //.{{dashCase name}}-wrap

// End: {{ dashCase name }}
