.hotelcard {
  color:#000;
  .thumb,.info-wrap{
    width: 50%;
    float:left;
    overflow: hidden;
  }
  .title{
    text-transform: uppercase;
    color: #61cae0;
    font-size: 18px;
    margin-bottom: 5px;
    font-weight: 700;
  }
}
