// Start: hotelcard

mixin hotelcard(title,imgadd, starlength, add)
  .hotelcard.hotelcard-wrap
    .thumb
      img(src=imgadd, alt="hotel")
    .info-wrap
      h4.title=title
      p.starrating-wrap
        -for(i=0;i<starlength;i++)
          span.star.fafa-star
      address
        .icon-wrap
          i.fa.fa-map-marker
        span=add
      .btn-wrap
        a.btn.btn-viewrooms(href="")
    .clear-fix
      
  //.hotelcard-wrap

// End: hotelcard
