.item-content{
  z-index: 600;
  margin: 0 auto;
  margin-bottom: 20px;
  font-size: 16px;
  box-sizing: border-box;
  box-shadow: 0 2px 4px #999;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  position: relative;
  @media screen and (max-width:767px){
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 0px; 
    
  }
  
  .views{
    font-size: 14px;
    i{
      font-size: 23px;
      vertical-align: middle;
      color: #4b9c32;
    }
    span{
      margin-left: 10px;
      display: inline;
      padding: 5px;
      background-color: #5cb85c;
      color: #fff;
      border-radius: 5px;
    }
  }
  .item-img{
    overflow: hidden;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
      @media screen and (max-width:767px){
        border-bottom-left-radius: 0px; 
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
      }
      img{
        width: 100%;
      }
  }
    .item-text{
      padding:10px 0px;
      @media screen and (max-width:767px){
        padding: 10px 20px;
      }
      .reviewscore-wrap{
        .reviewscore{
          font-size: 20px;
      font-weight: 700;
      color: #b80;
        }
        span.reviewscore-value{
          background-color: #003580;
          color: #fff;
          display: inline-block;
          padding: 0 8px;
          border-radius: 5px;
          margin-left: 10px;
          vertical-align: middle;
          font-size: 18px;
        }
      }
    }  
    h4{
      font-size: 18px;
      text-transform: uppercase;
      color: #61cae0;
      margin:0px 0px 5px;
      font-weight: 700;
      font-family: 'ProximaNova',sans-serif;
    }
    ul{
      li{
          padding: 0px;
          margin:0px;
        i{
          color: #ffcd27;
        }
      }
    }
  p{
    color: #292b2c;
    line-height: 25px;
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-top: 5px;
      span{
        vertical-align: middle;
      }
      i{
        font-size: 12px;
        display: inline-block;
        margin-right: 5px;
        line-height: 22px;
        margin-left: 3px;
      }
  }
  .btn{
    line-height: 24px;
    background: #61cae0;
    border-color:#61cae0;  
    transition: 0.3s all;  
    color:#fff;
    font-size: 16px;
      &:hover,&:focus{
        color: #fff;
        background-color: #025aa5;
        background-image: none;
        border-color: #01549b;
        transition: 0.3s all;
      }
  }
  .hotel-card{
    color: #fff;
    padding: 6px 10px;
    font-weight: 300;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    box-shadow: 0 1px 4px #000;
    background: #61cae0;
    line-height: 0px;
    vertical-align: text-bottom;
    position: absolute;
    top: 10px;
    left: -10px;
      p{
        margin: 0px;
        color:#fff;
        font-size: 16px;
        display: inline-block;
      }
      &:after{
        content: '';
        border-width: 10px;
        border-color: #277b94 transparent transparent;
        position: absolute;
        left: -1px;
        top: 37px;
        border-style: solid;
        z-index: -1;
      }
  }
}