
mixin item(itemtitle,itemtext,imgsrc)
  .item-content
    .row
      .col-sm-6
        .item-img
          img(src=imgsrc, alt="")
      .col-sm-6
        .item-text
          h4=itemtitle
          ul.list-inline
            li
              i.fas.fa-star
            li
              i.fas.fa-star
            li
              i.fas.fa-star
            li
              i.fas.fa-star
          p
            i.fas.fa-map-marker-alt
            span=itemtext
          p.views
            i.fas.fa-eye
            span 2548
          p.reviewscore-wrap
            span.reviewscore Review score
            span.reviewscore-value 58
          p.item-btn
            a.btn.btn-primary(href="#") View Rooms
    .hotel-card
      p Extra Cashback
  //end item content

