/*********************
    - 2. General -
*********************/

html,
body {
  margin: 0px;
  padding: 0px;
}

body{
  font-family: sans-serif;
}

.list-inline {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.list-inline li {
  @include dis(middle);
}

a {
  color: inherit;
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
}

img {
  max-width: 100%;
  border: none;
}

// .container {
//   margin: 0px auto;
//   width: 1170px;
// }
// .container-fluid {
//   max-width: 100%;
//   padding: 0 15px;
// }
.fleft,.float-left {
  float: left;
}

.fright,.float-right {
  float: right;
}

.clear-fix,
.clearfix {
  clear: both;
}
