// .alert {
//   color: black;
//   @include e(inverted) {
//     color: white;
//     background-color: black;
//     @include m(hjhjhaha) {
//       color: #fff;
//     }
//   }

//   @include e(warning) {
//     color: yellow;
//   }

//   @include e(warning, inverted) {
//     color: black;
//     background-color: yellow;
//   }
// }
.dib {
    display: inline-block;
}

button {
    outline: none;
}

body {
    position: relative;
    color: #4e5b64;
    font-size: 16px;
}
p{
  font-family: ProximaNova;
}
h1,h2,h3,h4,h5,h6{
  font-family: BebasNeue;
}

//banner
.banner{
  margin-top: 65px;
  background-size: cover;
  background-position: center;
  color: #fff;
  .banner-content{
    background-color: rgba(0,0,0,.3);
    padding: 180px 0 66px;
    min-height: 610px;
    text-align: center;
    @media screen and (max-width:767px){
      min-height:400px;
      padding-top: 130px;
    }
    h1{
      color: #fff;
      font-family: ProximaNova;
    }
  }
}
.date-input{
  .nav-tabs{
    border-bottom: 1px solid transparent;
    li.active{
      a{
        border: 1px solid transparent;
        background-color: rgba(255,255,255,.6);
        text-shadow: 1px 1px 2px #000;
        display: inline-block;
        padding: 10px 30px;
        color: #fff;
      }
    }
    a{
      border-radius: 0px;
      padding: 10px 30px;
      border: 1px solid transparent;
      background-color: transparent;
      font-size: 20px;
      &:hover{
        text-decoration: none;
        background-color: transparent;
        border-color: transparent;
        color: #fff;
      }
    }
  }
  .tab-content{
    background-color: rgba(255,255,255,.6);
  }
  #Book{
    padding: 20px;
    .search-component{
      padding-bottom: 10px;
    }
  }
  #book2{
    padding:10px 15px;
  }
  .place-box{
    &__content{
      position: relative;
      z-index: 11;
      .field{
        position: relative;
      }
      .field{
        .selectize-input{
          box-sizing: border-box;
          background: #fff;
          width: 100%;
          color: #61cae0;
          border: 1px solid #e6e6e6;
          display: inline-block;
          border-radius: 5px;
          font-weight: 400;
          font-size: 16px;
          cursor: pointer;
          padding: 10px 14px;
          height: 40px;
          padding-left: 36px;
          &:after{
            border-color: #61cae0 transparent transparent transparent;
          }
          input::placeholder{
            color: #61cae0;
          }
        }
        .selectize-dropdown [data-selectable].option{
          color: #61cae0;
        }
      }
      span.icon.place-box__icon{
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        i{
          color: #61cae0;
        }
      }
    }
  }
  .search-box{
    .selectize-input{
      box-sizing: border-box;
      background: #fff;
      width: 100%;
      color: #61cae0;
      border: 1px solid #e6e6e6;
      display: inline-block;
      border-radius: 5px;
      font-weight: 400;
      font-size: 16px;
      cursor: pointer;
      padding: 10px 14px;
      height: 40px;
      padding-left: 36px;
      &:after{
        display: none;
      }
      input::placeholder{
        color: #61cae0;
      }
    }
    .selectize-dropdown [data-selectable].option{
      color: #61cae0;
    }
  }
  .search-suggestion-list.active{
    display: block;
  }
  .search-suggestion-list{
    padding: 0;
    display: none;
    position: absolute;
    background-color: #fff;
    width: 100%;
    max-width: 400px;
    list-style-type: none;
    text-align: left;
    li{
      color: #61cae0;    
      background-color: #fff;
      cursor: pointer;
      width: 100%;
      padding-left: 15px;
      padding-top: 8px;
      padding-bottom: 8px;
      color: #003580;
      word-wrap: break-word;
      font-size: 14px;
      border-left: 1px solid #e6e6e6;
      border-right: 1px solid #e6e6e6;
      border-bottom: 1px solid #e6e6e6;
      transition: all 0.3s;
      &:hover{
        background-color: #61cae0;
        p{
          color: #fff;
        }
      }
      p{
        margin: 0;
      }
    }
    a{
      &:hover{
        text-decoration: none;
      }
    }
  }
  button.search-button{
    background-color: #61cae0;
    border-color: #61cae0;
    width: 100%;
    color: #fff;
    transition: all .2s ease;
    padding: 8px 16px;
    font-size: 18px;
    line-height: 1.33333;
    border-radius: 6px;
    cursor: pointer;
    border: 1px solid transparent;
    &:hover{
      background-color: #4fbbbc;
    }
  }
}

.over-play{
  display: none;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.over-play.active{
  display: block;
}
.date-range-picker{
  background-color: #fff;
  border-radius: 4px;
  .DateInput {
    width: 43%;
    .form-group{
      margin-bottom: 0;
      padding: 3px;
    }
    .input-group-addon{
      display: none;
    }
    input{
      background: transparent;
      box-shadow: none;
      border: none;
      color: #61cae0;
      border-radius: 5px;
      font-size: 16px;
      &:focus{
        border-radius: 5px;
        background: #61cae6;
        color: #fff;
      }
      &::placeholder{
        font-size: 16px;
        color: #61cae0;
      }
    }
  }
  .Date-arrow{
    width: 10%;
    text-align: center;
    i{
      font-size: 20px;
      color: #61cae0;
      line-height: 40px;
    }
  }
}
.datepicker{
  color: rgb(86, 90, 92);    
}
.participant{
  background-color: #fff;
  position: relative;
  border-radius: 7px;
  @media screen and (max-width:992px){
    padding-left: 0px;
    padding-right: 0;
  }
  &__content{
    button.participant-button{
      width: 100%;
      text-align: center;
      background-color: #fff;
      color: #61cae0;
      border: 0;
      font-size: 16px;
      padding: 10px 16px;
      line-height: 1.33333;
      border-radius: 7px;
    }
  }
  .over-play{
    display: none;
  }
  .over-play.active{
    display: block;
  }
  &__list.active{
    display: block;
    z-index: 14;
    padding-top: 10px;
    top: 30px;
    @media screen and (max-width:992px){
      top: 0;
    }
  }
  &__list{
    display: none;
    position: absolute;
    width: 100%;
    list-style: none;
    padding-left: 0;
    padding: 0 15px;
    margin-left: -15px;
    background: #fff;
    border-radius: 7px;
    @media screen and (max-width:992px) {
      position: relative;
      padding: 0;
      margin-left: 0;
    }
    li{
      width: 100%;
      text-align: center;
      display: flex;
      background-color: #fff;
      color: #000;
      margin-bottom: 21px;
      box-shadow: -1px 2px 4px 0 rgba(201,201,201,.5);
      line-height: 35px;
      border-radius: 4px;
      button{
        flex-grow: 1;
        background-color: transparent;
        border: 0;
      }
      span{
        flex-grow: 1;
      }
    }
  }
}
#Enjoy{
  padding: 20px;
  input{
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    border:1px solid #4fbbbc;
    box-shadow: none;
    padding: 10px 20px;
    color: #61cae0;
    outline: 0;
    font-size: 18px;
    transition: all 0.3s;
  }
  .search-component{
    padding-bottom: 10px;
  }
  button.search-button{
    background-color: #4fbbbc;
    &:hover{
      background-color: #3c9c9c;
    }
  }
}
.make-better{
  padding-top: 15px;
  color: #fff;
  .col-sm-4{
    @media screen and (max-width:992px){
      width:100%;
    }
  }
  &__title{
    h1{
      margin: 0;
      padding: 20px 0;
      color: #003580;
      font-size: 40px;
      font-weight: 500;
    }
  }
  .cube{
    box-sizing: border-box;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    &__content{
      position: absolute;
      top: 48%;
      left: 30%;
    }
    &__title{
      font-weight: 600;
      margin: 0;
      margin-bottom: 5px;
      font-size: 20px;
      text-transform: uppercase;
    }
    &__text{
      font-size: 14px;
    }
    img{
      position: absolute;
      top: 35%;
      left: 50%;
      transform: translate3d(-50%,-50%,0);
      width: 16%;
      vertical-align: middle;
    }
    &::before{
      content: "";
      padding-top: 100%;
      display: block;
    }
    &.price{
      background-image: url('images/img-col3.jpg');
    }
    &.tour-free{
      background-image: url('images/cube-tur.jpg');
    }
    &.match{
      background-image: url('images/cubemacth.jpg');
    }
  }
  button.cube-active{
    text-transform: uppercase;
    color: #fff;
    background-color: #4fbbbc;
    border-color: #4fbbbc;
    outline: none;
    margin-top: 30px;
    transition: all 0.3s;
    &:hover{
      background-color: #328283;
      border-color: #266465;
    }
  }
}
.nice-places{
  padding-top: 35px;
  padding-bottom: 60px;
  &__title{
    font-weight: 600;
    font-size: 40px;
    color: #003580;
    margin: 0;
    padding: 20px 0;
  }
  &__sub-title{
    color: #727272;
    font-size: 18px;
    text-align: center;
    padding: 0 0 20px;
    margin: 0;
  }
  .place-content{
    margin: 15px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    &:hover{
      &::before{
        background-color: rgba(0,0,0,.4);
      }
    }
    &::before{
      content: "";
      padding-top: 80%;
      display: block;  
      background-color: rgba(0,0,0,.2);
      transition: all 0.3s;
    }
    h6{
      font-weight: 600;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      font-size: 25px;
      text-shadow: 1px 1px 2px #000;
      color: #fff;
      margin-bottom: 5px;
      text-transform: uppercase;
    }
  }
  button.cube-active{
    color: #fff;
    background-color: #4fbbbc;
    border-color: #4fbbbc;
    transition: all 0.3s;
    outline: none;
    margin-top: 30px;
    &:hover{
      background-color: #328283;
      border-color: #266465;
    }
  }
}
.member{
  padding: 40px 0 60px 0;
  background-color: #f6f6f6;
  &__title{
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 30px;
    text-align: center;
    font-size: 40px;
    color: #003580;
    padding: 20px 0;
  }
  h4{
    color: #4e5b64;
    font-weight: 600;
    text-transform: uppercase;
  }
  button.cube-active{
    color: #fff;
    background-color: #4fbbbc;
    border-color: #4fbbbc;
    transition: all 0.3s;
    outline: none;
    margin-top: 30px;
    &:hover{
      background-color: #328283;
      border-color: #266465;
    }
  }
}
.single-banner{
  &__img{
    height: 456px;
    background-image: url('images/single-banner.jpg');
    background-size: cover;
    background-position: center;
  }
}
.header-fixed{
  height: 0;
  overflow: hidden;
  background: #fff;
  width: 100%;
  top: 0;
  z-index: 2;
  border-bottom: 1px solid #e0e7ea;
  opacity: 1;
  &.fixed{
    position: fixed;
    height: 65px;
    top: 0;
    padding: 20px 0 10px;
  }
  a{
    color: #455058;
    text-decoration: none;
    @media screen and (max-width:420px) {
      font-size: 14px;
    }
  }
  li{
    margin: 0 20px;
    @media screen and (max-width:500px) {
      margin: 0 10px;
      padding: 0;
    }
    @media screen and (max-width:350px) {
      margin: 0 6px;
      padding: 0;
    }
  }
  nav.menu-fixed{
    @media screen and (max-width:992px) {
      text-align: center;
    }
  }
  li.active{
    a{
      font-weight: 600;
    }
  }
}
.single-page{
  color: #4e5b64;
  a{
    font-family: inherit;
    color: #4fbbbc;
    transition: all .3s ease;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    &:hover{
      color: #2d7778;
      text-decoration: none;
    }
  }
}
.info-author{
  z-index: 1;
  position: relative;
  padding-bottom: 20px;
  margin-top: -110px;
  &__img{
    width: 200px;
    height: 200px;
    display: inline-block;
    img{
      border-radius: 50%;
      background-color: #fff;
      border: 4px solid #fff;
      font-size: 10px;
      width: 100%;
      height: 100%;
    }
  }
  &__name{
    margin: 0;
    line-height: 42px;
    font-weight: 600;
    a{
      text-transform: uppercase;
    }
  }
  &__contact{
    a{
      background: #4fbbbc;
      color: #fff;
      border-radius: 5px;
      padding: 5px 10px;
      text-decoration: none;
      font-weight: 700;
      box-shadow: 0 1px 3px 0 rgba(0,0,0,.3);
      display: block;
      &:hover{
        color: #fff;
      }
      &::before{
        margin-right: 15px;
        content: "";
        width: 20px;
        height: 20px;
        display: inline-block;
        background-image: url('images/info-contact.svg');
        background-size: 100%;
        vertical-align: middle;
      }
    }
  }
}
.info-content{
  &__title{
    h2{
      font-family: ProximaNova;
      font-size: 36px;
      line-height: 48px;
      color: #4fbbbc;
      padding: 10px 0;
      margin: 0;
    }
    @media screen and (max-width:1200px) {
      text-align: center;
    }
  }
  &__sub{
    span{
      background-image: url('images/info-sub-place.png');
      display: inline-block;
      width: 18px;
      height: 24px;
      vertical-align: middle;
      margin-right: 14px;
    }
    @media screen and (max-width:1200px) {
      text-align: center;
    }
  }
}
.special-list{
  margin-left: 0;
  margin-top: 44px;
  padding-left: 40px;
  li{
    position: relative;
    font-family: ProximaNova;
    padding-left: 30px;
    line-height: 2em;
    margin-bottom: 20px;
  }
  span{
    background-image: url('images/ticker-icon.png');
    width: 18px;
    height: 14px;
    background-size: 100%;
    left: 0;
    top: 6px;
    margin-right: 14px;
    position: absolute;
  }
}
.book{
  opacity: 1;
  z-index: 3;
  visibility: visible;
  position: static;
  padding: 0 15px 25px;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  border: 1px solid rgba(36,74,75,.12);
  box-shadow: 0 0 20px 0 rgba(0,0,0,.11);
  border-radius: 5px;
  width: 360px;
  margin-top: -64px;
  background: #fff;
  i.fas.fa-times{
    display: none;
    position: absolute;
    left: 5px;
    top: 5px;
    @media screen and(max-width:992px) {
      display: block;
    }
  }
  @media screen and (max-width:1024px){
    width:300px;
  }
  @media screen and (max-width:992px){
    overflow: scroll;
    height: 100vh;
    right: 10px;
  }
  @media screen and (max-width:480px){
    width: 275px;
  }
  &.fixed{
    position: fixed;
    top: 64px;
    
  }
  .price-info{
    border-bottom: 1px solid #d3e3ea;
    padding: 12px 15px 5px;
    height: 64px;
    span{
      font-size: 22px;
      color: #4fbbbc;
      line-height: 1.8em;
      i{
        font-size: 16px;
        margin-left: 5px;
      }
    }
  }
}
#booking-form{
  padding-top: 30px;
  .input-group .form-control:first-child{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  label{
    display: block;
    color: #4fbbbc;
    padding-top: 0px;
  }
  input{
    border-radius: 5px;
    width: 100%;
    padding: 8px 20px;
    border: 1px solid #4fbbbc;
    color: #4fbbbc;
    outline: none;
  }
  input.submit{
    padding: 9px 15px;
    cursor: pointer;
    font-size: 14px;
    line-height: 2.28571;
    display: block;
    margin-top: 20px;
    background-image: linear-gradient(-180deg,#F78F30 4%,#E86B1A 97%);
    border: 1px solid #e26311;
    box-shadow: 0 0 3px 0 rgba(0,0,0,.5), inset 0 3px 0 0 #faa455;
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
  }
  .date-range-picker{
    input{
      &:focus{
        color: #fff;
      }
    }
  }
  .search-component{
    margin-bottom: 30px;
  }
}
.tour-information{
  &__title{
    border-top: 1px solid #cedede;
    margin-bottom: 0;
    line-height: 2.5em;
  }
  &__info{
    &.left{
      padding: 0 45px;
      padding-left: 15px;
    }
    &.right{
      padding: 0 45px;
      padding-right: 15px;
    }
    p,a{
      font-size: 14px;
    }
    .item{
      padding: 10px 0;
      border-bottom: 1px solid #d6e4ea;
      &:first-child{
        border-top: 1px solid #d6e4ea;
      }
    }
  }
}
.itinerary{
  padding-top: 20px;
  padding-bottom: 20px;
  .step{
    margin-bottom: 20px;
    &__title{
      font-size: 24px;
      color: #37525f;
      line-height: 1.5em;
      text-align: left;
      display: block;
      margin: 0;
      font-weight: 600;
    }
    &__content{
      line-height: 2em;
    }
  }
}
.review{

  padding-bottom: 0;
  padding-top: 20px;
  margin-bottom: 30px;
  border-bottom: 0;
  &__title{
    margin-top: 20px;
    margin-bottom: 15px;
    line-height: 1.3em;
    font-weight: 600;
    font-size: 25px;
    display: block;
  }
  .review-wrap{
    padding: 30px 0;
    border-bottom: 1px solid #4fbbbc;
    figure{
      width: 100px;
      height: 100px;
      border-radius: 50%;
      overflow: hidden;
      display: inline-block;
      vertical-align: top;
    }
    main{
      padding: 0 15px;
      display: inline-block;
      width: calc(100% - 150px);
      @media screen and (max-width:768px) {
       width: 100%; 
       text-align: justify;
      }
      span{
        color: #0c80ff;
      }
      ul{
        display: inline-block;
        color: #f3d900;
        li{
          padding: 0;
        }
      }
    }
  }
}
.how-work{
  padding-top: 20px;
  border-top: 1px solid #cedede;
  padding-bottom: 20px;
}
a.book-bottom__act{
  padding: 9px 15px;
  cursor: pointer;
  font-size: 14px;
  line-height: 2.28571;
  display: block;
  margin-top: 20px;
  background-image: linear-gradient(-180deg,#F78F30 4%,#E86B1A 97%);
  border: 1px solid #e26311;
  box-shadow: 0 0 3px 0 rgba(0,0,0,.5), inset 0 3px 0 0 #faa455;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
  display: none;
  position: fixed;
  left: 50%;
  z-index: 1000;
  transform: translateX(-50%);
  bottom: 0;
  text-align: center;
  width: 143px;
  @media screen and (max-width:992px){
    display: block;
  }
}
#popup-book.popup-book{
  display: none;
  padding-top: 0;
  width: 100%;
  height: 100%;
  .book{
    display: block;
    margin-top: 0;
    width: 100%;
  }
}
input[name="people"]{
  display: none;
}
span.btn-requestmobile{
  position: fixed;
  z-index: 2;
  color: #fff;
  width: 63px;
  text-align: center;
  font-size: 12px;
  height: 85px;
  top: 45px;
  left: 15px;
  display: none;
  padding: 3px 2px;
  cursor: pointer;
    line-height: 2.28571;
    margin-top: 20px;
    background-image: linear-gradient(-180deg, #F78F30 4%, #E86B1A 97%);
    border: 1px solid #e26311;
}
#votingform{
  padding: 15px 0;
  .br-wrapper{
    display: inline-block;
    vertical-align: middle;
  }
  button{
    margin-left: 15px;
    padding: 3px 8px;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    line-height: 2.28571;
    border:none;
    background-image: linear-gradient(-180deg, #ffe566 4%, #edb867 97%);
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
  }
}
.leavecomment{
  padding: 15px 0;
  textarea{
    padding:5px;
    width: 100%;
    margin: 5px 0;
    outline:none;
    resize: none;
    border: 1px solid #4fbbbc;
    border-radius: 5px;
  }
  #comment button{
    padding: 9px 15px;
    cursor: pointer;
    font-size: 14px;
    line-height: 2.28571;
    margin-top: 20px;
    background-image: linear-gradient(-180deg, #4fbbbc 4%, #0055ff 97%);
    border: 1px solid #4fbbbc;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5), inset 0 3px 0 0 #4fbbbc;
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
  }
}