#footer{
  padding: 20px 0;
  border-top: 1px solid #cfe2e2;
  .footer-nav{
    li{
      padding: 10px;
    }
    a{
      color: #4fbbbc;
      font-size: 14px;
    }
  }
  .footer-contact{
    margin-top: 20px;
    li{
      margin: 10px;
      margin-top: 0;
      padding: 0;
      a{
        display: inline-block;
        width: 28px;
        height: 28px;
        background: url('images/icon-social.png') center center no-repeat;
        text-indent: -9999px;
        &.facebook{
          background-position: 0 0;
        }
        &.twitter{
          background-position: -28px 0;
        }
        &.pinterest{
          background-position: -56px 0;
        }
        &.instagram{
          background-position: -84px 0;
        }
      }
    }
  }
  p{
    color: #4e5b64;
  }
  .footer-copyright{
    margin-top: 20px;
    font-size: 14px;
    margin-bottom: 0;
  }
}
body.fancybox-active{
  overflow: hidden;
}
#popup-signin{
  display: none;
  width: 600px;
  padding: 0;
  display: none;
  margin-top: 30px;
  vertical-align: top;
  .col-xs-12{
    padding: 0;
  }
  .container{
    width: 100%;
  }
  .nav-tabs>li{
    width: 50%;
    text-align: center;
    &.active{
      a{
        background-color: #fff;
      }
    }
    a{
      background-color: rgba(79, 187, 188, 0.15);
      line-height: 70px;
      padding: 0;
      margin: 0;
    }
  }
  input{
    width: 100%;
  }
  .tab-content{
    padding: 2em;
  }
  .signin-fb{
    input{
      padding: 20px 0;
      background: #3b5998;
      color: #fff;
      border: none;
      -moz-appearance: none;
      appearance: none;
      font-size: 14px;
      font-weight: 500;
      -webkit-appearance: none;
      cursor: pointer;
      text-transform: uppercase;
      border-radius: .25em;
      margin-bottom: 10px;
    }
  }
  .forgot{
    a{
      color: #4fbbbc;
    }
  }
  .signin-button{
    margin-bottom: 20px;
    button{
      padding: 20px 0;
      text-transform: uppercase;
      font-size: 14px;
      background: #4fbbbc;
      color: #fff;
      border: none;
      font-weight: 700;
      width: 100%;
      margin: 0;
      border-radius: .25em;
      cursor: pointer;
    }
  }
  .signin-input{
    margin-bottom: 32px;
    position: relative;
    input{
      padding: 16px 20px 16px 50px;    
      border-radius: .25em;
      border: 1px solid #d2d8d8;
    }
    &.checker{
      margin-bottom: 0;
      input{
        width: inherit;
      }
      label{
        color: #4fbbbc;
      }
    }
    .icon-input{
      position: absolute;
      top: 20px;
      left: 21px;
      i{
        color: #D1DADA;
        font-size: 20px;
      }
    }
    .hide-show{
      position: absolute;
      display: inline-block;
      right: 0;
      padding: 6px 15px;
      border-left: 1px solid #d2d8d8;
      top: 11px;
      a{
        text-decoration: none;
        color: #4fbbbc;
      }
    }
  }
  h2.line{
    font-size: 15pt;
    border-bottom: 1px solid #000;
    line-height: .1em;
    margin: 10px 0 20px;
    position: relative;
    text-align: center;
    span{
      background: #fff;
      padding: 0 14px;
      color: #4e5b64;
    }
  }
}