header{
  position: fixed;
  width: 100%;
  z-index: 13;
  top: 0;
  transition: all .5s ease;
  background-color: #fff;
  border-bottom: 1px solid #4fbbbc;
  .logo-img{
    display: inline-block;
    margin: auto; 
    width: 48px;
    height: 48px;
    background-image: url('images/logo.svg');
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin-top: 8px;
    @media screen and (min-width:769px){
    position: static;
    margin-left: auto;
    margin-left: 20px;
    }
    @media screen and (max-width:466px){
      position: absolute;
      margin-left: 20px;
    }
  }
  nav.right-header{
    a{
      line-height: 64px;
      margin-right: 25px;
      color: #4fbbbc;
      text-transform: uppercase;
      font-size: 14px;
    }
    .logout-button{
      background: transparent;
      border: none;
      outline: none;
      color: #4fbbbc;
      line-height: 64px;
      margin-right: 10px;
      text-transform: uppercase;
    }
  }
}
header.active{
  position: relative;
}