header{
  z-index: 800;
}
.page2-content{
  background-color: #f8f8ff;
  border-bottom: 1px solid #ccc;
  padding-top: 82px;
    &__title{
    
      h3{
        margin: 0px;
      font-size: 36px;
      color: #003580;
      padding: 30px 0px 20px 20px;
      font-family: BebasNeue,sans-serif!important;      
        margin-bottom: 8px;
    }
      
    }
    &__menu{

      padding: 20px 0;
      border-radius: 5px;
      background-color: #fff;
      margin-bottom: 50px;
      box-shadow: 0 0 4px #999;
      @media screen and (max-width:420px){
        padding: 0px;
      }
        ul{
          @media screen and (max-width:420px){
            li{
              display: block;
              width: 100% !important;
              margin: 0px;
              border-bottom: 1px solid #ddd;
              padding: 3px 0px;
                &:after{
                  display: none;
                }
                &:last-child{
                  border-color: transparent;
                }
            }
          }
          line-height: 1.5;
          font-size: 0;
          li{
            position: relative;
            width: 33.333%;
            text-align: center;
              &:after{
                content:'';
                border: .5px solid #003580;
                width: 1px;
                position: absolute;
                right: 0;
                top: 0;
                height: 100%;
              }
          }
          li:last-child:after{
            display: none;
          }
            a{
              display: block;
              color: #003580;
              display: inline-block;
              width: 100%;
              font-weight: 700;
              line-height: 2em;
              font-size: 16px;
            }
            .sort-active{
              color:#b80;
            &::before{
              content: '\f160';
              font-family: "Font Awesome 5 Free";
              margin-right: 5px;
            }
            }
        }
    }
    &__list-item{
      box-sizing: border-box;
      padding: 0px 10px;

    }
    &__page-number{
      padding: 20px 0px;
      text-align: center;
      margin-bottom: 15px;
        ul{
          font-size: 0;
          line-height: 26px;
        }
        li{ 
            i{
              vertical-align: inherit;
            }
            font-size: 18px;            
            padding: 0px;
            vertical-align: middle;
            @media screen and (max-width:420px){
              &:nth-child(3),&:nth-child(4),&:nth-child(5){
                display: none;
              }
            }
            &:first-child{
              border: 2px solid #61cae0;
              -webkit-border-radius: 50%;
              border-radius: 50%;
              margin-right: 15px;
              width: 35px;
              height: 35px;
              line-height: 28px;
              padding: 2px 0px;
              
            }
            &:last-child{
              border: 2px solid #61cae0;
              -webkit-border-radius: 50%;
              border-radius: 50%;
              margin-left: 15px;
              padding: 2px 1px;
              width: 35px;
              height: 35px;
              line-height: 28px;
              
            }
          a{
            padding: 4px 10px;
            color:#61cae0;
            font-size: 18px;
              &:hover{
                font-weight: 700;
                text-decoration: underline;
              }
          }
        }
     
    }
    .page-active{
      border-radius: 50%;
      background: #61cae0;
      color:#fff;
      
    }
}
