include _partials/mixins.pug
<!DOCTYPE html>
html(lang="en")
  head
    title=base.title
    meta(charset="utf-8")
    meta(name="description" content=base.description)
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1, shrink-to-fit=no, user-scalable=no")
    meta(name="keywords", content=base.keywords)
    meta(name="author", content=base.author)
    // Styles
    link(rel='stylesheet', href='libs/bootstrap/css/bootstrap.min.css')
    link(rel="stylesheet" type="text/css" href="libs/owlCarousel/assets/owl.theme.default.min.css")
    link(rel="stylesheet" type="text/css" href="libs/owlCarousel/assets/owl.carousel.min.css")
    link(rel="stylesheet", href="libs/Datepicker/bootstrap-datepicker.min.css")
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous")
    block csslibs
    link(rel="stylesheet" type="text/css" href="style.css")
  body
    #wrapper
      +item("SILK QUEEN GRAND HOTEL","21 Tran Hung Dao St, Hoan Kiem Dist","images/item1.jpg")  
      //- +hotelcard("Tieeu ddef","images/place-rectangle5.jpg",3,"Nhon city")
                
    //#wrapper

    //JS
    script(src="libs/jQuery/jquery.min.js")
    script(src='libs/bootstrap/js/bootstrap.min.js')
    script(src="libs/owlCarousel/owl.carousel.min.js")
    script(src="libs/Datepicker/bootstrap-datepicker.min.js")
    script(src="libs/typing/typed.min.js")
    block scriptlibs
    script(src="js/script.js")