extends _layouts/layout
block header
  include _partials/header
block content
  .banner(style="background-image: url('images/banner.jpg');")
    .banner-content
      .container-fluid
        h1.type-text
          |Book a stay & 
          span#typed
          br
          |by locals seamlessly
        p The happiest way to travel in 
          b 227 
          | countries
        .date-input
          .container
            ul.nav.nav-tabs(role='tablist')
              li.active(role='presentation')
                a(href='#Book', aria-controls='home', role='tab', data-toggle='tab') Book A Stay
              li(role='presentation')
                a(href='#Enjoy', aria-controls='profile', role='tab', data-toggle='tab') Enjoy Unique Experiences
            // Tab panes
            .tab-content
              #Book.tab-pane.active(role='tabpanel')
                form(action="")
                  .row
                    .col-xs-12.col-lg-3.search-component
                      .place-box
                        .place-box__content
                          .field
                            .control-group.text-left
                              select#search-field.demo-default(data-placeholder='Anywhere' name="search-field")
                                option(value='') Ha Noi, Viet Nam  Viet Nam Viet Nam
                                -for(i=0 ; i<10 ; i++)
                                  option(value=i) Ha Noi, Viet Nam  Viet Nam Viet Nam
                        .over-play
                    .col-xs-12.col-lg-4.search-component
                      .date-range-picker
                        .DateRangePicker
                          .DateRangePickerInput
                            .DateInput.float-left 
                              .form-group
                                .filterDate
                                  // Datepicker as text field
                                  .input-group.date(data-date-format='dd.mm.yyyy')
                                    input.form-control(type='text', placeholder='Start Day')
                                    .input-group-addon
                                      span.glyphicon.glyphicon-th
                            .Date-arrow.float-left
                              i.fas.fa-long-arrow-alt-right
                            .DateInput.float-right
                              .form-group
                                .filterDate
                                  // Datepicker as text field
                                  .input-group.date(data-date-format='dd.mm.yyyy')
                                    input.form-control.text-right(type='text', placeholder='End Day')
                                    .input-group-addon
                                      span.glyphicon.glyphicon-th
                            .clear-fix
                    .col-xs-12.col-lg-3.search-component
                      .participant.col-sm-12
                        .participant__content
                          input(type="text" name="people")
                          .field
                            button.participant-button
                              i.fas.fa-users
                              |1 guest · 1 room
                          ul.participant__list
                            li.room
                              button.pre -
                              span 1
                              button.add +
                            li.adults
                              button.pre -
                              span 1
                              button.add +
                            li.children
                              button.pre -
                              span 0
                              button.add +
                        .over-play
                    .col-xs-12.col-lg-2.search-component
                      button.search-button(type="submit") Let's Go
              #Enjoy.tab-pane(role='tabpanel')
                .row
                  form(action="")
                    .col-xs-12.col-lg-9.search-component
                      .search-box
                        .control-group.text-left
                          input#Enjoy-box.demo-default(data-placeholder='location' name="search-field")
                    .col-xs-12.col-lg-3.search-component
                      button.search-button(type="submit") Let's Go
                    .clear-fix
  section.make-better
    .make-better
      .container
        .row
          .col-xs-12.col-lg-10.col-lg-offset-1
            .row.text-center
              .col-xs-12
                .make-better__title
                  h1 WHAT MAKES US BETTER?
            .row
              .col-sm-4
                article
                  .cube.price(style="background-image: url('images/img-col3.jpg');")
                    img(src="images/cube-icon1.svg", alt="")
                    .cube__content
                      h4.cube__title Price Beat
                      p.cube__text
                        |Best price
                        br
                        |automagically
                        br
                        |guaranteed
              .col-sm-4
                article
                  .cube.tour-free(style="background-image: url('images/cube-tur.jpg');")
                    img(src="images/cube-icon2.svg", alt="")
                    .cube__content
                      h4.cube__title Price Beat
                      p.cube__text
                        |Best price
                        br
                        |automagically
                        br
                        |guaranteed
              .col-sm-4
                article
                  .cube.match(style="background-image: url('images/cubemacth.jpg');")
                    img(src="images/cube-icon3.svg", alt="")
                    .cube__content
                      h4.cube__title Price Beat
                      p.cube__text
                        |Best price
                        br
                        |automagically
                        br
                        |guaranteed
            .row
              .col-xs-12.text-center
                button.btn.btn-primar.btn-lg.cube-active ready to go?
  section.nice-places
    .container
      .row
        .col-sm-10.col-sm-offset-1.text-center
          h1.nice-places__title Travelers Love These Places
          p.nice-places__sub-title Thousand cities in 227 countries, with our unique local experiences
          .row
            -for(i=0 ; i< 12 ; i++)
              .col-xs-12.col-sm-6.col-lg-3.place
                a(href="")
                  .place-content(style="background-image: url('images/place-rectangle1.jpg')")
                    h6 Bali
          .row
            .col-xs-12.text-center
              button.btn.btn-primar.btn-lg.cube-active Book Your Experience Now!
  section.member
    .container
      .row
        .col-sm-8.col-sm-offset-2.text-center
          h1.member__title BECOME A MEMBER OF TRIIP AND GET THESE PERKS
          .row
            .col-xs-12.col-sm-4.text-center
              .member__images
                img(src="images/become-cube1.svg", alt="")
              h4.member__heading Cashback
            .col-xs-12.col-sm-4.text-center
              .member__images
                img(src="images/become-cube2.svg", alt="")
              h4.member__heading Free tour
            .col-xs-12.col-sm-4.text-center
              .member__images
                img(src="images/become-cube3.svg", alt="")
              h4.member__heading bottle
          .row
            .col-xs-12.text-center
              button.btn.btn-primar.btn-lg.cube-active Become A Member Now!