extends _layouts/layout
block content
  include _partials/header
  .page2-content
    .container
      .row
        .col-sm-12
          .page2-content__title
            h3 HANOI(886)
          .page2-content__menu
            ul.list-inline
              li
                a(href="#").sort-active Ranking
              li
                a(href="#") Popularity
              li
                a(href="#") Review Score
          .page2-content__list-item
            -for(i=0;i<10;i++)
              +item("SILK QUEEN GRAND HOTEL","21 Tran Hung Dao St, Hoan Kiem Dist","images/item1.jpg")
          .page2-content__page-number
            ul.list-inline
              li
                a(href="#")
                  i.fas.fa-chevron-left
              li
                a.page-active(href="#") 1
              li
                a(href="#") 2
              li
                a(href="#") 3
              li
                a(href="#") 4
              li
                a(href="#") 5
              li
                a(href="#") 6
              li ...
              li
                a(href="#") 15
              li
                a(href="#") 16
              li
                a(href="#")
                  i.fas.fa-chevron-right