extends _layouts/layout
block header
  include _partials/header
block content
  .single-banner
    .single-banner__img(style="background-image: url('images/single-banner.jpg');")
  .header-fixed
    .container-fluid
      .row
        .col-lg-8
          .row
            .col-lg-8.col-lg-offset-4
              nav.menu-fixed
                ul.list-inline
                  li.Special
                    a(href="#") Special
                  li.Information
                    a(href="#") Information
                  li.Itinerary
                    a(href="#") Itinerary
                  li.Reviews
                    a(href="#") Reviews
  section.main.single-page
    .container
      .row
        .col-lg-8.col-md-8
          section.info.row
            .col-lg-4.col-md-3.text-center
              .info-author
                a.info-author__img(href="")
                  img(src="images/author-img.jpg", alt="")
                h3.info-author__name
                  a(href="#") Christopher
            .col-lg-8.col-md-9
              .info-content
                .info-content__title
                  h2 Bangkok By Night
                .info-content__sub
                  span.location-icon
                  a(href="#") Bangkok,
                  a(href="#") Thai Lan
                .row
                  .col-xs-12
                    ul.list-inline.special-list
                      li
                        span
                        |Bangkok: The City of Angels
                      li
                        span
                        |Visit the most popular nightlife areas around Bangkok with the help of an experienced and Thai speaking guide.
                      li
                        span
                        |Avoid the most common tourist traps and scams that one can come across on a night out.
                      li
                        span
                        |Check out entertainment areas such as Nana Plaza, Soi Cowboy and Patpong.
                      li
                        span
                        |Hit the club scene such as Mixx, Levels, Insanity, Swing, Shock 69 and others.
                      li
                        span
                        |Save money by knowing when and how much to pay and being with someone who can help you negotiate.
          setion.tour-information
            .row
              h3.tour-information__title Tour Information
              .col-lg-6.col-md-6.tour-information__info.left
                .row.item
                  .col-xs-4.name
                    p Location
                  .col-xs-8.place.text-right
                    a(href="#") Bangkok
                .row.item
                  .col-xs-4.name
                    p Duration 
                  .col-xs-8.place.text-right
                    p 5 house
                .row.item
                  .col-xs-4.name
                    p Departure  
                  .col-xs-8.place.text-right
                    p 09:00 PM
                .row.item
                  .col-xs-4.name
                    p Price per Participant
                  .col-xs-8.place.text-right
                    p $120
                .row.item
                  .col-xs-4.name
                    p Languages
                  .col-xs-8.place.text-right
                    p English
                .row.item
                  .col-xs-4.name
                    p Group size 
                  .col-xs-8.place.text-right
                    p 1 - 3 people
                .row.item
                  .col-xs-4.name
                    p Categories
                  .col-xs-8.place.text-right
                    a(href="#") Nightlife
                .row.item
                  .col-xs-4.name
                    p Transportation
                  .col-xs-8.place.text-right
                    p Taxi
              .col-lg-6.col-md-6.tour-information__info.right
                .row.item
                  .name.col-xs-4
                    p Includes 
                  .col-xs-8.place
                    p A native English speaking local that can also speak Thai. 
                      |Expert knowledge of all the places mentioned here and others. 
                      |An experienced negotiator that can help you save money. 
                      |Travel expenses to the various venues.
                .row.item
                  .col-xs-4.name
                    p Excludes 
                  .col-xs-8.place
                    p Beverages, Food, Admission costs, Transportation to meeting point.
                .row.item
                  .col-xs-4.name
                    p Cancellation
          section.itinerary
            -for(i=0 ; i<6 ; i++)
              article.step
                h3.step__title Nana Plaza
                p.step__content Located in the Nana area, this is the largest entertainment venue in Bangkok. It consists of 3 floors and an open beer garden in the center. There are also several pubs around the outside that are convenient to grab an early drink. 
                .step__img
                  img(src="images/step-img.jpg", alt="")
          section.how-work
            .row
              .col-xs-12.text-center
                img(src="images/how-work.png", alt="")
          section.review
            h3.review__title Review
            .review-list
              .review-wrap
                figure.fleft
                  img(src="https://via.placeholder.com/150x150", alt="")
                main.fleft
                  span hieudeptrai
                  ul.list-inline
                    li
                      i.fas.fa-star
                    li
                      i.fas.fa-star
                    li
                      i.fas.fa-star
                    li
                      i.fas.fa-star
                  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati aperiam, soluta animi totam esse odit commodi, veniam maiores aspernatur, vero rem eius ipsa doloribus optio asperiores qui quos quod amet.
                  date
                    small
                      i
                        |2018-07-04
                        time 11:20
                .clear-fix
              .review-wrap
                figure
                  img(src="https://via.placeholder.com/150x150", alt="")
                main
                  span hieudeptrai
                  ul.list-inline
                    li
                      i.fas.fa-star
                    li
                      i.fas.fa-star
                    li
                      i.fas.fa-star
                    li
                      i.fas.fa-star
                  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati aperiam, soluta animi totam esse odit commodi, veniam maiores aspernatur, vero rem eius ipsa doloribus optio asperiores qui quos quod amet.
                  date
                    small
                      i
                        |2018-07-04
                        time 11:20
                .clear-fix
            .leavecomment
              h3.review__title Comment
              form#votingform(action="")
                select#votingbar(name="voting")
                  option(value='1') 1
                  option(value='2') 2
                  option(value='3') 3
                  option(value='4') 4
                  option(value='5') 5
                button submit your vote
              form#comment(action="")
                textarea#comment(name="comment", cols="30", rows="10", placeholder="Leave your comment here ...")
                button submit comment
        .col-lg-4.col-md-4
          .book
            i.fas.fa-times
            .price-info.row
              .col-xs-12
                span.price-info__number
                  |$120
                  span
                    | / TIIM 1333.20
                    i.fas.fa-info-circle
            form#booking-form.cmxform(method='get', action='')
              fieldset
                p
                  label(for='cname') Name:
                  input#cname(name='name', minlength='2', type='text', required='')
                p
                  label(for='cemail') E-Mail:
                  input#cemail(type='email', name='email', required='')
                p
                  label(for='field') Number: 
                  input#field.left(name='field')
                .date-range-picker
                  .DateRangePicker
                    .DateRangePickerInput
                      .DateInput.float-left 
                        .form-group
                          .filterDate
                            // Datepicker as text field
                            .input-group.date(data-date-format='dd.mm.yyyy')
                              input.form-control(type='text', placeholder='Start Day')
                              .input-group-addon
                                span.glyphicon.glyphicon-th
                      .Date-arrow.float-left
                        i.fas.fa-long-arrow-alt-right
                      .DateInput.float-right
                        .form-group
                          .filterDate
                            // Datepicker as text field
                            .input-group.date(data-date-format='dd.mm.yyyy')
                              input.form-control.text-right(type='text', placeholder='End Day')
                              .input-group-addon
                                span.glyphicon.glyphicon-th
                      .clear-fix
                .search-component.row
                  .participant.col-sm-12
                    .participant__content
                      input(type="text" name="people")
                      .field
                        button.participant-button
                          i.fas.fa-users
                          |1 guest · 1 room
                      ul.participant__list
                        li.room
                          button.pre -
                          span 1
                          button.add +
                        li.adults
                          button.pre -
                          span 1
                          button.add +
                        li.children
                          button.pre -
                          span 0
                          button.add +
                    .over-play
                p.text-center
                  input.submit(type='submit', value='Request this triip')
  span.btn-requestmobile REQUEST THIS TRIP!
