footer#footer
  .container
    .row
      .col-lg-12
        nav.footer-nav.text-center
          ul.list-inline
            li
              a(href="#") Triip Book
            li
              a(href="#") Wiki Triip
            li
              a(href="#") Blog
            li
              a(href="#") About Us
            li
              a(href="#") Contact 
            li
              a(href="#") FAQs
            li
              a(href="#") Policies
            li 
              a(href="#") Site Map
        .footer-contact.text-center
          ul.list-inline
            li
              a.facebook(href="#")
            li
              a.twitter(href="#")
            li
              a.pinterest(href="#")
            li
              a.instagram(href="#")
        p.footer-copyright.text-center &copy; 2017 Triip Pte. Ltd. All rights reserved.
#popup-signin
  .container
    .row
      .col-xs-12
        .group-tabs
          // Nav tabs
          ul.nav.nav-tabs(role='tablist')
            li.active(role='presentation')
              a(href='#signin', aria-controls='home', role='tab', data-toggle='tab') Singin
            li(role='presentation')
              a(href='#register', aria-controls='profile', role='tab', data-toggle='tab') Register
          // Tab panes
          .tab-content
            #signin.tab-pane.active(role='tabpanel')
              form#signin-form(action="")
                fieldset
                  .signin-fb
                    input(type="button" value="Sign in with Facebook")
                  h2.line
                    span OR
                  .signin-input
                    label.icon-input(for="input-email") 
                      i.fas.fa-envelope-square
                    input#input-email(type='email' name="email" placeholder="E-mail" required)
                  .signin-input
                    label.icon-input(for="input-pass") 
                      i.fas.fa-key
                    input#input-pass(type='password' min="6" placeholder="Password" name="password" required)
                    .hide-show
                      a(href="#") Show
                  .signin-input.checker
                    input#tourists(type="radio" name="input-radio" value="Tôi là khách du lịch") 
                    label(for="tourists") Tôi là khách du lịch
                    br
                    input#tour-guide(type="radio" name="input-radio" value="Tôi là hướng dẫn viên") 
                    label(for="tour-guide") Tôi là hướng dẫn viên
                  .signin-input.checker
                    input#input-checkbox(type="checkbox")
                    label(for="input-checkbox") Remember me 
                  .signin-button.text-center
                    button(type="submit" value="signin") Sign In
                  .forgot.text-center
                    a(href="#") Forgot your password?
            #register.tab-pane(role='tabpanel')
              form#register-form(action="")
                fieldset
                  .signin-fb
                    input(type="button" value="Sign in with Facebook")
                  h2.line
                    span OR
                  .signin-input
                    label.icon-input(for="first-name") 
                      i.fas.fa-user
                    input#first-name(type='text' name="firstname" placeholder="First Name" required)
                  .signin-input
                    label.icon-input(for="last-name") 
                      i.fas.fa-user
                    input#last-name(type='text' name="lastname" placeholder="Last Name" required)
                  p
                    span *
                    | Please consider your email is also the username.
                  .signin-input
                    label.icon-input(for="input-email2") 
                      i.fas.fa-envelope-square
                    input#input-email2(type='email' name="email" placeholder="E-mail" required)
                  .signin-input
                    label.icon-input(for="input-pass2") 
                      i.fas.fa-key
                    input#input-pass2(type='password' min="6" name="password" placeholder="Password" required)
                    .hide-show
                      a(href="#") Show
                  .accept-terms-paragraph
                    p By creating an account you agree to Triip’s 
                      span
                        a(href="#") Terms of Service
                  .signin-button.text-center
                    button(type="submit") Creat-account
    //#footer