header#header2
  .container-fluid
    .row
      .logo-header2.fleft
        a(href="#")
          img(src="images/logo.svg", alt="")
      .date-input.fleft
        .tab-content
          #book2.tab-pane.active(role='tabpanel')
            .row
              form(action="")
                .col-12.col-lg-3.search-component
                  .place-box
                    .place-box__content
                      .field
                        input.search-field(type="text" placeholder="Anywhere")
                        span.icon.place-box__icon
                          i.fas.fa-map-marker-alt
                      ul.search-suggestion-list
                        -for(i=0 ; i< 10 ; i++)
                          li
                            a(href="#") 
                              p Hồ Chí Minh,
                                span Việt Nam
                    .over-play
                .col-12.col-lg-4.search-component
                  .date-range-picker
                    .DateRangePicker
                      .DateRangePickerInput
                        .DateInput.float-left 
                          .form-group
                            .filterDate
                              // Datepicker as text field
                              .input-group.date(data-date-format='dd.mm.yyyy')
                                input.form-control(type='text', placeholder='Start Day')
                                .input-group-addon
                                  span.glyphicon.glyphicon-th
                        .Date-arrow.float-left
                          i.fas.fa-long-arrow-alt-right
                        .DateInput.float-right
                          .form-group
                            .filterDate
                              // Datepicker as text field
                              .input-group.date(data-date-format='dd.mm.yyyy')
                                input.form-control.text-right(type='text', placeholder='End Day')
                                .input-group-addon
                                  span.glyphicon.glyphicon-th
                        .clear-fix
                .col-12.col-lg-3.search-component
                  .participant
                    .participant__content
                      .field
                        button.participant-button
                          i.fas.fa-male
                          i.fas.fa-male
                          |1 guest · 1 room
                      ul.participant__list
                        li.room
                          button.pre -
                          span 1
                          button.add +
                        li.adults
                          button.pre -
                          span 1
                          button.add +
                        li.children
                          button.pre -
                          span 1
                          button.add +
                    .over-play
                .col-12.col-lg-2.search-component
                  button.search-button(type="submit") Go
          #Enjoy.tab-pane(role='tabpanel')
            .row
              form(action="")
                .col-xs-12.col-lg-9.search-component
                  .search-box
                    input(type="text" placeholder="Location")
                .col-xs-12.col-lg-3.search-component
                  button.search-button(type="submit") Go
      .profile-menu.fright
        a(href="#")
          img(src="images/avatar.svg", alt="")
      .clear-fix 