header#header
  .container-fluid
    .row
      a.logo-img.float-left(href="#")
      nav.right-header.float-right
        ul.list-inline
          li
            a(data-signin data-src="#popup-signin" href="javascript:;") Sign in
          li
            a(data-signin data-src="#popup-signin" href="javascript:;") register
      nav.right-header.float-right
        form(method='post', action='')
          ul.list-inline
            li
              input.logout-button(type='submit', name='submit_logout', value='Log out')
      .clear-fix 