include ../_partials/mixins.pug
<!DOCTYPE html>
html(lang="en")
  head
      title=base.title
      meta(charset="utf-8")
      meta(name="description" content=base.description)
      meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1, shrink-to-fit=no, user-scalable=no")
      meta(name="keywords", content=base.keywords)
      meta(name="author", content=base.author)
      // Styles
      link(rel='stylesheet', href='libs/bootstrap/css/bootstrap.min.css')
      link(rel="stylesheet" type="text/css" href="libs/owlCarousel/assets/owl.theme.default.min.css")
      link(rel="stylesheet" type="text/css" href="libs/owlCarousel/assets/owl.carousel.min.css")
      link(rel="stylesheet", href="libs/Datepicker/bootstrap-datepicker.min.css")
      link(rel="stylesheet", href="libs/fancybox-master/jquery.fancybox.min.css")
      link(rel="stylesheet", href="libs/selectize/css/selectize.css")
      link(rel="stylesheet", href="libs/selectize/css/selectize.default.css")
      link(rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css")
      link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous")
      link(rel="stylesheet", href="libs/jquery-bar-rating-master/fontawesome-stars.css")
      block csslibs
      link(rel="stylesheet" type="text/css" href="style.css")
  body
    #wrapper
      block header
      block content
      include ../_partials/footer.pug
    //#wrapper

    //JS
    script(src="libs/jQuery/jquery.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js")
    script(src='libs/bootstrap/js/bootstrap.min.js')
    script(src="libs/owlCarousel/owl.carousel.min.js")
    script(src="libs/Datepicker/bootstrap-datepicker.min.js")
    script(src="libs/typing/typed.min.js")
    script(src="libs/selectize/js/standalone/selectize.min.js")
    script(src="libs/fancybox-master/jquery.fancybox.min.js")
    script(src="libs/validate/additional-methods.min.js")
    script(src="libs/validate/jquery.validate.min.js")
    script(src="libs/jquery-bar-rating-master/jquery.barrating.min.js")
    block scriptlibs
    script(src="js/script.js")

